* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  font-family: arial, sans-serif;
}

/* ======= Search page */
header {
  position: absolute;
  top: 12px;
  right: 30px;
}

header a:link,
a:visited,
a:active {
  color: #2a2a2a;
  font-family: arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  top: -10px;
}

header a:hover {
  text-decoration: underline;
}

img.avatar {
  max-height: 30px;
  max-width: 30px;
  min-width: 30px;
  min-height: 30px;
}

.products {
  margin-right: 15px;
  margin-left: 8px;
}

.avatar {
  border-radius: 50%;
}

div.google-img {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 8%;
}

div.google-img img {
  width: 270px;
  height: 95px;
  margin: 5px;
}

div.input-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-top-div {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
}

.input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  white-space: pre;
}

div.search-div {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 50%;
}

form div.search-div:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  border: 1px solid #f2f2f2;
}

[list]::-webkit-calendar-picker-indicator,
[list]::-webkit-list-button {
  display: none;
}

.search-holder {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-icon {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.microphone-container {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}

.microphone {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}

input[type="submit"] {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

div.button-container {
  margin-top: 1.2em;
}

.links-container {
  display: inline-block;
  line-height: 28px;
  font-size: small;
  margin-top: 1em;
}

.links-container a {
  text-decoration: none;
  margin-right: 0.5em;
  color: #1a0dab !important;
}

.links-container a:hover {
  text-decoration: underline;
}

footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #f2f2f2;
  padding-top: 22px;
  padding-left: 1em;
  border-top: 1px solid #e9e9e9;
  font-size: 13px;
}

.country {
  background: #f2f2f2;
  line-height: 40px;
  min-width: 980px;
  border-top: 1px solid #e4e4e4;
  position: relative;
  left: 0px;
  right: 0px;
  font-size: 13px;
  padding-left: 2em;
  font-size: 13px;
  color: #5f6368;
}

footer a:link,
a:visited,
a:active {
  color: #5f6368;
  font-family: arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  padding-left: 0.5em;
}

footer a:hover {
  text-decoration: underline;
}

.leftlinks {
  position: relative;
  bottom: 12px;
  left: 18px;
  padding-right: 27px;
}

.rightlinks {
  position: relative;
  bottom: 9px;
  float: right;
  right: 18px;
  padding-right: 27px;
  padding-left: 27px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* ======= end search page */

/* ======= start search results page */

header.header {
  height: 69px;
  left: 0;
  position: absolute;
  width: 100%;
  padding-top: 1em;
}

div.sr-search-container {
  position: relative;
  margin: 0 auto;
  margin-left: 119px;
  width: 40%;
  padding-left: 27px;
}

div.sr-search-input-container {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  height: 39px;
  width: 638px;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
}

div.sr-search-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 4px 0 16px;
  padding-left: 14px;
  flex-wrap: wrap;
}

div.sr-input-search {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
}

input.sr-search-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  width: 70%;
}

div.logo {
  position: absolute;
  left: -129px;
  padding: 15px 28px 0 30px;
  top: 4px;
}

div.sr-microphone-wrapper {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}

div.sr-microphone {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}

div.sr-mic {
  background-size: 24px;
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

button.sr-search-button {
  height: 32px;
  line-height: 32px;
  flex: 0 0 auto;
  padding-right: 13px;
  height: 44px;
  width: 44px;
  background: transparent;
  border: none;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 0;
}

div.sr-search-icon-wrapper {
  height: 20px;
  width: 20px;
  background: none;
  color: #4285f4;
  margin: auto;
}

div.sr-search-icon-wrapper i {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

div.sr-right-section {
  float: right;
  padding-left: 32px;
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 0 1.5em;
  flex: 0 0 auto;
  height: 48px;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  display: flex;
  position: relative;
  bottom: 3em;
}

div.sr-right-section > div {
  display: inline;
}

div.sr-top-header {
  color: #666;
  font-size: 13px;
  border-bottom: 1px solid #ebebeb;
  margin-top: 5em;
  outline-width: 0;
  outline: none;
  position: relative;
  z-index: 102;
  height: 63px;
  padding: 0;
}

div.sr-top-header div,
div.sr-top-header li,
div.sr-top-header a {
  outline-width: 0;
  outline: none;
}

nav.sr-top-nav {
  float: left;
  position: relative;
  white-space: nowrap;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  min-width: 782px;
}

div.sr-media-holder {
  display: inline;
  margin-left: 155px;
}

div.sr-all {
  padding: 16px 12px 12px 10px;
  height: 16px;
  line-height: 16px;
  margin: 11px 1px 0;
  display: inline-block;
  cursor: pointer;
}

div.sr-all:hover {
  color: #1a73e8;
}

div.sr-all.no-hover-color {
  color: #666;
}

div.sr-all.active {
  border-bottom: 3px solid #1a73e8;
  color: #1a73e8;
}

div.sr-all i {
  height: 16px;
  width: 16px;
  fill: #1a73e8;
  /* margin-right: 0.2em; */
  vertical-align: middle;
  font-size: 16px !important;
}

.ml-3 {
  margin-left: 3em !important;
}

.btn {
  padding: 0.2em 1em;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 14px;
}

.btn:hover {
  background-color: #e9e9e9;
  color: #666;
}

div.sr-total-search {
  height: 43px;
  margin-left: 150px;
  position: relative;
  line-height: 43px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  transition: all 220ms ease-in-out;
  color: #70757a;
  line-height: 33px;
  padding: 5px 8px 0px 16px;
  margin-top: 9em;
  font-size: 14px;
}

div.sr-search-results-container {
  min-height: 90vh;
  margin-top: 3em;
}

#search-page {
  min-height: 70vh;
  margin-top: 2.9em;
}

div.sr-ads-container {
  box-sizing: border-box;
  padding: 0 16px 0 16px;
  position: relative;
  margin: 7px 0px 1em 150px;
  width: 632px;
}

div.sr-ads-container ul {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #3c4043;
  line-height: 22px;
}

div.sr-ads-container ul li.list-ads {
  margin-bottom: 27px;
  position: relative;
  color: #3c4043;
  line-height: 22px;
}

div.sr-ads-container ul li.list-ads div.sr-ads-holder {
  display: inline-flex;
  align-items: baseline;
  max-width: 600px;
  display: inline-block;
  color: #3c4043;
  white-space: nowrap;
  font-size: 14px;
  padding-bottom: 2px;
  padding-top: 1px;
  line-height: 1.5;
}

div.sr-ads-container div.sr-ads-top-header {
  position: relative;
}

div.sr-ads-container div.sr-ads-top-header a,
div.sr-ads-container div.sr-ads-top-header a:link,
div.sr-ads-container div.sr-ads-top-header a:active,
div.sr-ads-container div.sr-ads-top-header a:visited {
  text-decoration: none;
  color: #1a0dab;
}

div.sr-ads-container div.sr-ads-top-header a div.sr-ads-holder span {
  background-color: #fff;
  color: #006621;
  display: inline-block;
  font-size: 12px;
  margin-left: 0px;
  border: 1px solid #006621;
  border-radius: 5px;
  padding: 0px 3px;
}

div.sr-ads-container div.sr-ads-top-header a h3 {
  font-size: 20px !important;
  line-height: 26px;
  display: inline-block;
  margin-bottom: 3px;
  font-size: medium;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

div.sr-ads-container div.sr-ads-top-header a div.sr-ads-text {
  color: #3c4043;
  line-height: 22px;
  font-size: small;
}

div.sr-ads-container ul.sr-links-li {
  width: 630px;
  margin: 0 -13px 15px 0;
  padding: 20px 0 4px 28px;
}

div.sr-ads-container ul.sr-links-li > li {
  line-height: inherit;
  padding: 0 13px 15px 0;
  max-width: 50% !important;
  display: inline-block !important;
}

div.sr-ads-container ul.sr-links-li > li h3 {
  font-weight: normal;
}

div.sr-ads-container div.related-searches {
  display: inline-block;
  width: 100%;
}

div.sr-ads-container div.related-searches h3 {
  font-weight: normal;
  margin-bottom: 1em;
}

div.sr-ads-container div.related-searches div {
  font-size: 14px;
  margin-top: -1px;
  padding-bottom: 1px;
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
  max-width: 100%;
  box-sizing: border-box;
}

div.sr-ads-container div.related-searches div a {
  display: block;
  padding: 3px 32px 3px 1em;
}

.location {
  background: #9e9e9e;
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  margin: 6px 4px 9px 0;
  vertical-align: middle;
  width: 10px;
}

.current {
  font-weight: bold;
}

.nav-span {
  background: url(../img/nav_logo299.webp) no-repeat;
  overflow: hidden;
  background-position: 0 0;
  height: 40px;
  display: block;
}

#nav td {
  padding: 0;
  text-align: center;
}

#pagination-wrapper p {
  cursor: pointer;
  white-space: nowrap;
}

#pagination-wrapper #pagination .current {
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
}

p.pagination-links {
  color: #4285f4;
  font-weight: normal;
}

/* ======= end search results page */
